---
---

<nav class="flex gap-6 lg:gap-8 items-center">
  <a
    href="/"
    class="text-sm md:text-base font-medium text-gray-700 hover:text-primary transition-colors py-2"
  >
    Início
  </a>
  <a
    href="#sobre"
    class="text-sm md:text-base font-medium text-gray-700 hover:text-primary transition-colors py-2"
  >
    Sobre
  </a>
  <a
    href="#servicos"
    class="text-sm md:text-base font-medium text-gray-700 hover:text-primary transition-colors py-2"
  >
    Serviços
  </a>
  <a
    href="#contato"
    class="text-sm md:text-base font-medium text-white py-2 px-4 bg-secondary rounded-lg hover:bg-secondary-dark transition-colors"
  >
    Contato
  </a>
</nav>
